*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito",sans-serif;
}

.input{
    text-align: center;
    margin: 100px 0;
}

input[type="text"]{
    height: 50px;
    width: 660px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border-radius: 2px;
    padding: 10px 10px;

}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border-radius: 2px;

}

.display{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e7e7e7;
}

.cityname{
    display:flex;
    justify-content: center;
    margin: 50px;
    font-size: 50px;
}

.display-box{
    display: flex;
    flex-direction: row;
    background: #e7e7e7;
    border-color: black;
    border: solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;


}